.grunt-logo {
  text-align: center;
  background: none !important;
  border: none !important;
  transition: ease-out .5s;
  cursor: pointer;
  @media (min-width: 992px) {
    &:hover {
      transform: scale(1.15);
    }
  }
  > img {
    width: 250px;
    height: auto;
    display: inline-block;
  }
}
